# R specific
.Rhistory
.RData
.Rproj.user
*.Rproj
.Ruserdata

# Build artifacts (but allow installed vignettes)
doc/
Meta/

# Temporary files
README.html
*.html
*.md~
*.Rmd~

# OS
.DS_Store
Thumbs.db

# Random junk
%
/doc/
/Meta/
